.post-container {
    z-index: 0;
    opacity: 0.9;
    box-shadow: 7px 7px 3px #495b6c;
    margin-top: 70px;
    padding: 15px;
    background: #6d7d80;
    border-radius: 30px;
}

.nav {
    z-index: 1;
    position: fixed;
}

li {
    list-style-type: "🇷🇺";
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

li:hover {
    transition: 0.3s;
    list-style-type: "🏴‍☠️";
}

img {
    box-shadow: 7px 7px 3px #495b6c;
    border-radius: 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    background: rgba(0,0,0,60%);
    margin-top: 100px;
}

.link {
    box-shadow: 7px 7px 3px #495b6c;
    color: black;
    padding: 3px;
    background: darkgrey;
    border-radius: 10px;
    text-decoration: none;
}

.link:hover {
    transition: .3s;
    background: gray;
}

.boy {
    color: black;
    background: black;
    text-decoration: none;
}

.boy:hover {
    transition: 1s;
    background: gray;
}

.main-bio {
    width: 800px;
    margin: 0 auto;
}


body {
    background: linear-gradient(rgba(154, 41, 130, 0.93), #9198e5);
    margin: 0;
    flex-direction: column;
}

header {
    margin-top: 50px;
    box-shadow: 7px 7px 3px #495b6c;
    text-align: center;
    background: darkgrey;
    padding: 10px;
    border-radius: 30px;
}

h2{
    text-align: center;
}

.table-marks {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}

.table-marks thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #62778c;
    font-size: 14px;
}

.table-marks thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}

.table-marks thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}

.table-marks tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

.table-marks tbody tr:nth-child(even) {
    background: slategray;
}

.table-marks tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}

.table-marks tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}

.table-marks tr:nth-child(even):hover{
    background: #4190e0;
}

.table-marks tr:nth-child(odd):hover{
    background: #23578c;
}

.post-container-error {
    z-index: 0;
    opacity: 0.9;
    box-shadow: 7px 7px 3px #495b6c;
    padding: 30px;
    background: #6d7d80;
    border-radius: 30px;
    text-align: center;
}

.font-error{
    font-weight: bold;
    font-size: 40px;
}

.main-error{
    margin: auto;
    width: 50%;
    padding: 11.97%;
}
